node_modules
**/node_modules
dist
**/dist
.git
.gitignore
.env
**/.env
!**/.env.example
*.log
coverage
**/coverage
playwright-report
test-results
.vscode
.idea
docs
**/docs
*.md
Dockerfile
docker-compose.yml
.dockerignore
